* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  text-align: center;
  font-family: 'Lato', sans-serif; }

header {
  background-image: url(../img/header-background.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  max-height: 800px;
  color: white;
  padding-bottom: 40px; }
  header .logo {
    margin-top: 39px;
    width: 30%; }
    header .logo h3 {
      margin: 0;
      font-size: 25px;
      letter-spacing: 1.15px;
      font-weight: 900;
      width: 200px; }
      header .logo h3 a {
        text-decoration: none;
        color: inherit; }
      header .logo h3 span {
        color: #ed145b;
        display: inline-block; }
  header .hamburger {
    display: none; }
  header .menu-layer {
    display: none; }
  header ul {
    width: 70%;
    padding: 0;
    margin: 0;
    float: right;
    margin-top: 44px; }
    header ul li {
      display: inline-block;
      padding: 0 10px;
      -o-transition: color 0.5s;
      -webkit-transition: color 0.5s;
      transition: color 0.5s;
      font-weight: 700; }
      header ul li:hover {
        color: #ed145b; }
      header ul li a {
        text-decoration: none;
        color: inherit; }
  header .col-12 {
    margin-top: 134px; }
    header .col-12 h1 {
      font-size: 46px;
      font-weight: 300;
      text-transform: uppercase; }
      header .col-12 h1 span {
        font-weight: 900; }
    header .col-12 p {
      font-weight: 300;
      font-size: 22px;
      padding-top: 30px;
      width: 951px;
      margin: 0 auto;
      line-height: 38px;
      letter-spacing: 0.55px; }
    header .col-12 button {
      width: 200px;
      height: 50px;
      border: none;
      cursor: pointer;
      margin-top: 40px;
      background-color: #ed145b;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      font-weight: 700;
      color: white; }

.separator {
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;
  background-color: #f4f4f4; }
  .separator:before, .separator:after {
    content: '';
    position: absolute; }
  .separator:before {
    background: #ed145b;
    bottom: 80%;
    left: -1%;
    width: 110%;
    height: 200%;
    -ms-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg); }

.about {
  background-color: #f4f4f4;
  min-height: 100vh;
  max-height: 800px;
  text-align: left;
  overflow: hidden; }
  .about h5 {
    color: #5a5a5a;
    width: 376px;
    margin: 70px 0 35px 0;
    font-size: 38px;
    font-weight: 400;
    font-style: italic;
    line-height: 52px;
    opacity: .8; }
  .about p {
    color: #5a5a5a;
    margin-top: 40px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.38px; }
  .about .seeTheVideo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .about .seeTheVideo div {
      margin: auto 5px; }
  .about h6 {
    color: #ed145b;
    font-size: 15px;
    margin: 0;
    text-transform: uppercase; }
    .about h6 a {
      text-decoration: none;
      color: inherit; }
    .about h6 img {
      margin-left: 12px; }
  .about .col-6 > img {
    padding-top: 10px; }

.ourServices {
  min-height: 90vh;
  max-height: 600px;
  color: #5a5a5a;
  position: relative; }
  .ourServices .col-12 {
    margin-top: 70px; }
    .ourServices .col-12 h3 {
      font-size: 34px;
      font-weight: 400;
      font-style: italic;
      opacity: .8;
      margin-bottom: 29px; }
    .ourServices .col-12 p {
      margin: 32px auto 84px auto;
      width: 680px;
      font-weight: 300;
      font-size: 15px;
      line-height: 30px;
      opacity: .8; }
  .ourServices .col-3 p {
    margin-top: 34px;
    color: #ed145b;
    font-size: 15px;
    font-weight: 700;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }

.carousel {
  background-image: url(../img/header-background.png);
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70vh;
  max-height: 450px;
  margin-top: 100px; }
  .carousel .col-8 {
    height: 450px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-pack: center; }
    .carousel .col-8 p {
      margin: 50 auto;
      font-size: 23px;
      font-weight: 300;
      font-style: italic;
      width: 824px;
      letter-spacing: 0.63px; }
    .carousel .col-8 .carousel-paragraph-two {
      display: none; }
    .carousel .col-8 .carousel-paragraph-three {
      display: none; }
  .carousel .col-2 {
    height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-pack: center; }
    .carousel .col-2 img {
      cursor: pointer;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .carousel .col-2 img:hover {
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.7); }

.ourPrices {
  min-height: 170vh;
  max-height: 1100px;
  background-color: #f4f4f4; }
  .ourPrices .col-12 h3 {
    font-size: 38px;
    font-weight: 400;
    font-style: italic;
    color: #5a5a5a;
    opacity: .8;
    margin-top: 148px; }
  .ourPrices .col-12 p {
    width: 681px;
    margin: 41px auto 92px auto;
    line-height: 30px;
    opacity: .8;
    font-size: 15px;
    font-weight: 300;
    color: #5a5a5a; }
  .ourPrices .col-3 .offer {
    width: 262px;
    height: 466px; }
    .ourPrices .col-3 .offer .top {
      height: 150px;
      width: 100%;
      background-color: #5a5a5a;
      -o-transition: all 0.6s;
      -webkit-transition: all 0.6s;
      transition: all 0.6s; }
      .ourPrices .col-3 .offer .top p {
        margin: 0;
        color: white;
        font-weight: 700; }
        .ourPrices .col-3 .offer .top p:first-child {
          padding-top: 33px; }
        .ourPrices .col-3 .offer .top p span {
          font-size: 50px; }
    .ourPrices .col-3 .offer .middle {
      width: 200px;
      height: 50px;
      background-color: #f4f4f4;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      margin-top: -25px;
      margin-left: 31px;
      position: absolute;
      font-weight: 700; }
    .ourPrices .col-3 .offer .bottom {
      height: 316px;
      width: 100%;
      background-color: white; }
      .ourPrices .col-3 .offer .bottom p {
        margin: 0;
        padding: 10px;
        color: #5a5a5a;
        font-weight: 300;
        font-size: 15px; }
        .ourPrices .col-3 .offer .bottom p:first-child {
          padding-top: 64px; }
    .ourPrices .col-3 .offer button {
      width: 200px;
      height: 50px;
      background-color: #ed145b;
      border: none;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      color: white;
      margin-top: 28px;
      cursor: pointer; }
  .ourPrices .col-3:hover .top {
    background-color: #ed145b; }

.features {
  min-height: 90vh;
  max-height: 720px; }
  .features .col-4 {
    margin-top: 150px;
    text-align: left; }
    .features .col-4 .element {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin-bottom: 72px; }
      .features .col-4 .element .text {
        margin-left: 24px; }
        .features .col-4 .element .text h4 {
          margin: 0;
          color: #ed145b; }
        .features .col-4 .element .text p {
          width: 262px;
          font-size: 15px;
          font-weight: 300;
          line-height: 30px;
          color: #5a5a5a; }

.macheCommunity .col-12 {
  background-color: #ed145b;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center;
  color: white; }
  .macheCommunity .col-12 h4 {
    font-size: 38px;
    font-weight: 300;
    text-transform: uppercase;
    margin-right: 41px; }
    .macheCommunity .col-12 h4 span {
      font-weight: 900; }

.macheCommunity button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  cursor: pointer;
  font-weight: 700;
  background-color: white;
  color: #ed145b; }

.gallery {
  min-height: 230vh;
  max-height: 1600px;
  padding-bottom: 30px; }
  .gallery .col-12 h3 {
    font-size: 38px;
    font-weight: 400;
    font-style: italic;
    color: #5a5a5a;
    opacity: .8;
    margin-top: 148px; }
  .gallery .col-12 p {
    width: 681px;
    margin: 41px auto 97px auto;
    line-height: 30px;
    opacity: .8;
    font-size: 15px;
    font-weight: 300;
    color: #5a5a5a; }
  .gallery .element {
    width: 360px;
    height: 390px;
    margin-bottom: 80px; }
    .gallery .element .layer {
      width: 360px;
      height: 250px;
      background-position: 10% 2%;
      -webkit-background-size: 200% 200%;
      background-size: 200%;
      background-image: -webkit-linear-gradient(88deg, rgba(237, 20, 91, 0.9) 50%, transparent 50%);
      background-image: -o-linear-gradient(88deg, rgba(237, 20, 91, 0.9) 50%, transparent 50%);
      background-image: linear-gradient(2deg, rgba(237, 20, 91, 0.9) 50%, transparent 50%);
      background-image: -moz-linear-gradient(0deg, rgba(237, 20, 91, 0.9) 0%, transparent 0%);
      -o-transition: all 1s;
      -webkit-transition: all 1s;
      transition: all 1s; }
      .gallery .element .layer:hover {
        background-position: 0 100%; }
      .gallery .element .layer:hover .fa-search {
        opacity: 1; }
      .gallery .element .layer span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -webkit-box-pack: center;
        justify-content: center;
        -ms-flex-pack: center; }
        .gallery .element .layer span .fa-search {
          position: absolute;
          margin-top: 105px;
          color: white;
          font-size: 50px;
          -o-transition: all 1s;
          -webkit-transition: all 1s;
          transition: all 1s;
          opacity: 0; }
      .gallery .element .layer img {
        position: relative;
        z-index: -1; }
    .gallery .element .bottom {
      width: 360px;
      background-color: #f4f4f4; }
      .gallery .element .bottom p {
        color: #5a5a5a;
        margin: 0;
        text-align: left;
        padding-top: 15px;
        padding-left: 20px;
        width: 307px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 300; }
        .gallery .element .bottom p:first-child {
          font-weight: 400; }
  .gallery .scroll {
    color: #ed145b;
    font-size: 15px;
    cursor: pointer;
    font-weight: 400; }

.psdTemplate {
  background-image: url(../img/header-background.png);
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-height: 800px;
  color: white;
  padding-bottom: 60px; }
  .psdTemplate h3 {
    margin-top: 148px;
    font-size: 38px;
    font-weight: 300;
    font-style: italic;
    opacity: .8; }
  .psdTemplate p {
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    opacity: .8;
    width: 681px;
    margin: 41px auto; }
  .psdTemplate button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border: none;
    background-color: #ed145b;
    color: white;
    font-weight: 700;
    cursor: pointer; }

.share {
  min-height: 100vh;
  max-height: 800px; }
  .share .col-6 {
    margin: 78px 0;
    text-align: left; }
  .share:last-child img {
    margin-top: 70px;
    width: 570px;
    height: 480px; }
  .share:last-child h3 {
    width: 488px;
    margin-top: 70px;
    font-size: 38px;
    font-weight: 300;
    font-style: italic;
    opacity: .8; }
  .share:last-child p {
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    opacity: .8;
    width: 466px;
    margin: 45px 0; }
  .share:last-child button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border: none;
    background-color: #ed145b;
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.38px; }

footer {
  height: 146px;
  color: white;
  margin-top: 100px;
  background-color: #2b2b2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px; }
  footer p {
    font-weight: 700;
    letter-spacing: 1px; }

.row:before, .row:after {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s; }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  [class*="col-"] {
    float: left;
    padding: 0 15px; }
  .col-3-lg {
    width: 25%; }
  .col-6-lg {
    width: 50%; }
  header .col-12-md p {
    width: auto; }
  .about {
    padding-left: 30px; }
  .carousel .col-8 p {
    width: auto; }
  .ourPrices {
    padding-bottom: 40px; }
    .ourPrices .col-3-lg .offer {
      width: auto; }
      .ourPrices .col-3-lg .offer .middle {
        width: 20%;
        margin-left: 1%; }
  .features .col-4 .element .text p {
    width: auto; }
  .macheCommunity .col-12 h4 {
    font-size: 28px; }
  .gallery .element {
    width: 300px; }
    .gallery .element .layer {
      width: 300px; }
      .gallery .element .layer img {
        width: 300px;
        height: 250px; }
    .gallery .element .bottom {
      width: 300px; }
      .gallery .element .bottom p {
        width: auto; }
  .share .col-6 p {
    width: auto; }
  .share img {
    margin-left: -130px; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  [class*="col-"] {
    float: left; }
  .col-3-md {
    width: 25%; }
  .col-6-md {
    width: 50%; }
  .col-8-md {
    width: 66.66%; }
  .col-12-md {
    width: 100%; }
  header {
    position: relative; }
    header .col-12-md {
      margin-top: 0px; }
      header .col-12-md p {
        width: auto;
        font-size: 18px; }
    header .menu-layer {
      display: none;
      position: fixed;
      z-index: 100;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      right: 0;
      top: 0; }
    header .close-btn {
      float: left;
      padding: 20px;
      font-size: 40px;
      -webkit-transition: color 0.5s;
      -o-transition: color 0.5s;
      transition: color 0.5s;
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0; }
      header .close-btn:hover {
        color: grey; }
    header .hidden-menu {
      list-style-type: none;
      padding: 60px 0 0 0; }
      header .hidden-menu li {
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        header .hidden-menu li:hover {
          color: #ed145b;
          background-color: rgba(255, 255, 255, 0.8); }
      header .hidden-menu a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: inherit; }
    header .hamburger {
      display: block;
      float: right;
      padding: 6px 12px;
      margin: 40px 30px;
      border: none;
      background-color: white;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      border-radius: 5px;
      cursor: pointer; }
      header .hamburger:hover {
        background-color: #ed145b;
        color: white; }
    header .col-8 {
      min-height: 150px; }
    header ul {
      display: none; }
  .about {
    padding-left: 30px; }
  .carousel .col-8 p {
    width: auto;
    font-size: 18px; }
  .ourPrices {
    min-height: 250vh;
    max-height: 1700px;
    padding-bottom: 40px; }
    .ourPrices .col-3-lg .offer {
      padding: 20px;
      margin-bottom: 30px;
      width: auto; }
      .ourPrices .col-3-lg .offer .middle {
        width: 25%;
        margin-left: 10%; }
  .features .col-4 {
    padding: 20px;
    margin-top: 20px; }
    .features .col-4:first-child {
      margin-top: 150px; }
    .features .col-4:nth-child(2) {
      margin-top: 150px; }
  .macheCommunity .col-12 h4 {
    font-size: 20px; }
  .gallery {
    min-height: 340vh;
    max-height: 2800px; }
    .gallery .element {
      width: 350px;
      margin: 0 auto 80px auto; }
      .gallery .element .layer {
        width: 350px; }
        .gallery .element .layer img {
          width: 350px;
          height: 250px; }
      .gallery .element .bottom {
        width: 350px; }
        .gallery .element .bottom p {
          width: auto; }
  .share:last-child h3 {
    width: auto; }
  .share:last-child P {
    width: auto; }
  .share img {
    margin-left: -230px; } }

@media screen and (min-width: 480px) and (max-width: 768px) {
  [class*="col-"] {
    float: left; }
  .col-3-sm {
    width: 25%; }
  .col-6-sm {
    width: 50%; }
  .col-8-sm {
    width: 66.66%; }
  .col-12-sm {
    width: 100%; }
  header .col-12-sm {
    margin-top: 0px; }
    header .col-12-sm .logo {
      position: absolute; }
    header .col-12-sm h1 {
      font-size: 30px; }
    header .col-12-sm p {
      width: auto;
      font-size: 1rem;
      padding: 10px; }
  header .menu-layer {
    display: none;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    right: 0;
    top: 0; }
  header .close-btn {
    float: left;
    padding: 20px;
    font-size: 40px;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0; }
    header .close-btn:hover {
      color: grey; }
  header .hidden-menu {
    list-style-type: none;
    padding: 60px 0 0 0; }
    header .hidden-menu li {
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      header .hidden-menu li:hover {
        color: #ed145b;
        background-color: rgba(255, 255, 255, 0.8); }
    header .hidden-menu a {
      display: block;
      padding: 15px;
      text-decoration: none;
      color: inherit; }
  header .hamburger {
    display: block;
    float: right;
    padding: 6px 12px;
    margin: 40px 30px 0 0;
    border: none;
    background-color: white;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border-radius: 5px;
    cursor: pointer; }
    header .hamburger:hover {
      background-color: #ed145b;
      color: white; }
  header .col-8 {
    min-height: 150px; }
  header ul {
    display: none; }
  .about {
    min-height: 115vh;
    max-height: 1000px;
    padding-left: 30px; }
    .about h5 {
      font-size: 28px;
      text-align: center;
      width: auto; }
    .about h6 {
      text-align: center; }
    .about img {
      display: none; }
    .about hr {
      display: none; }
    .about p {
      padding: 20px; }
    .about .seeTheVideo {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .ourServices {
    min-height: 150vh;
    max-height: 1300px; }
    .ourServices .col-12 p {
      width: auto;
      padding: 20px; }
  .carousel .col-8 p {
    width: auto;
    font-size: 15px; }
  .ourPrices {
    min-height: 500vh;
    max-height: 4000px;
    padding-bottom: 40px; }
    .ourPrices .col-12 p {
      width: auto;
      padding: 20px; }
    .ourPrices .col-12-sm .offer {
      padding: 20px;
      margin-bottom: 30px;
      width: auto; }
      .ourPrices .col-12-sm .offer .middle {
        width: 50%;
        margin-left: 22%; }
  .features .col-12-sm {
    padding: 10px 50px;
    margin-top: 0; }
    .features .col-12-sm:first-child {
      margin-top: 150px; }
    .features .col-12-sm .element {
      width: 400px;
      margin: 30px auto; }
  .macheCommunity .col-12 h4 {
    font-size: 20px;
    padding-left: 10px; }
  .macheCommunity .col-12 button {
    margin-right: 15px; }
  .gallery {
    min-height: 680vh;
    max-height: 4800px; }
    .gallery .col-12 p {
      width: auto;
      padding: 20px; }
    .gallery .element {
      width: 350px;
      margin: 0 auto 80px auto; }
      .gallery .element .layer {
        width: 350px; }
        .gallery .element .layer img {
          width: 350px;
          height: 250px; }
      .gallery .element .bottom {
        width: 350px; }
        .gallery .element .bottom p {
          width: auto; }
  .psdTemplate p {
    width: auto;
    padding: 20px; }
  .share .col-6 {
    display: none; }
  .share .col-12-sm {
    display: block;
    margin: 0; }
    .share .col-12-sm h3 {
      width: auto;
      padding: 30px;
      text-align: center; }
    .share .col-12-sm hr {
      display: none; }
    .share .col-12-sm P {
      width: auto;
      padding: 40px; }
    .share .col-12-sm .share-button {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .share img {
    display: none; }
  footer {
    font-size: 12px; } }

@media screen and (max-width: 479px) {
  [class*="col-"] {
    float: left; }
  .col-3-sm {
    width: 25%; }
  .col-6-sm {
    width: 50%; }
  .col-8-sm {
    width: 66.66%; }
  .col-12-sm {
    width: 100%; }
  header .col-12-sm {
    margin-top: 0px; }
    header .col-12-sm .logo {
      position: absolute; }
    header .col-12-sm h1 {
      font-size: 30px;
      padding: 20px; }
    header .col-12-sm p {
      width: auto;
      font-size: 14px;
      padding: 20px; }
  header .menu-layer {
    display: none;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    right: 0;
    top: 0; }
  header .close-btn {
    float: left;
    padding: 20px;
    font-size: 40px;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0; }
    header .close-btn:hover {
      color: grey; }
  header .hidden-menu {
    list-style-type: none;
    padding: 60px 0 0 0; }
    header .hidden-menu li {
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      header .hidden-menu li:hover {
        color: #ed145b;
        background-color: rgba(255, 255, 255, 0.8); }
    header .hidden-menu a {
      display: block;
      padding: 15px;
      text-decoration: none;
      color: inherit; }
  header .hamburger {
    display: block;
    float: right;
    padding: 6px 12px;
    margin: 40px 30px 0 0;
    border: none;
    background-color: white;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border-radius: 5px;
    cursor: pointer; }
    header .hamburger:hover {
      background-color: #ed145b;
      color: white; }
  header .col-8 {
    min-height: 150px; }
  header ul {
    display: none; }
  .about {
    min-height: 125vh;
    max-height: 1200px;
    padding-left: 30px; }
    .about h5 {
      font-size: 28px;
      text-align: center;
      width: auto; }
    .about h6 {
      text-align: center; }
    .about img {
      display: none; }
    .about hr {
      display: none; }
    .about p {
      padding: 20px; }
    .about .seeTheVideo {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .ourServices {
    min-height: 150vh;
    max-height: 1400px; }
    .ourServices .col-12 p {
      width: auto;
      padding: 20px; }
  .carousel .col-8 p {
    width: auto;
    font-size: 15px; }
  .ourPrices {
    min-height: 300vh;
    max-height: 4000px;
    padding-bottom: 40px; }
    .ourPrices .col-12 p {
      width: auto;
      padding: 20px; }
    .ourPrices .col-12-sm .offer {
      padding: 20px;
      margin-bottom: 30px;
      width: auto; }
      .ourPrices .col-12-sm .offer .middle {
        width: 50%;
        margin-left: 22%; }
  .features .col-12-sm {
    padding: 10px 20px;
    margin-top: 0; }
    .features .col-12-sm:first-child {
      margin-top: 150px; }
    .features .col-12-sm .element {
      width: auto;
      margin: 30px auto; }
      .features .col-12-sm .element .text p {
        width: auto; }
  .macheCommunity .col-12 h4 {
    font-size: 20px; }
  .macheCommunity .col-12 button {
    margin-right: 15px; }
  .gallery {
    min-height: 300vh;
    max-height: 5500px; }
    .gallery .col-12 p {
      width: auto;
      padding: 20px; }
    .gallery .element {
      width: 250px;
      margin: 0 auto 80px auto; }
      .gallery .element .layer {
        width: 250px; }
        .gallery .element .layer img {
          width: 250px;
          height: 250px; }
      .gallery .element .bottom {
        width: 250px; }
        .gallery .element .bottom p {
          width: auto; }
  .psdTemplate {
    min-height: 150vh;
    max-height: 1500px; }
    .psdTemplate p {
      width: auto;
      padding: 20px; }
  .share {
    min-height: 200vh;
    max-height: 1600px; }
    .share .col-6 {
      display: none; }
    .share .col-12-sm {
      display: block;
      margin: 0; }
      .share .col-12-sm h3 {
        width: auto;
        padding: 30px;
        text-align: center; }
      .share .col-12-sm hr {
        display: none; }
      .share .col-12-sm P {
        width: auto;
        padding: 40px; }
      .share .col-12-sm .share-button {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }
    .share img {
      display: none; }
  footer {
    font-size: 12px; } }
