* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0; }

body {
  font-family: 'Work Sans', sans-serif;
  color: #333333; }

.row:after {
  display: table;
  content: "";
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px; }

.col-6 {
  width: 50%; }

.col-12 {
  width: 100%; }

a {
  color: inherit;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  letter-spacing: 0.5px; }

p {
  color: #777;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.2px;
  font-size: 0.8em; }

img {
  max-width: 100%; }

.container {
  max-width: 1200px;
  overflow: auto;
  padding: 0 20px;
  margin: 0 auto; }

.navigation {
  background-color: white;
  height: 60px;
  width: 100%;
  position: fixed;
  -webkit-transition: border-bottom 0.2s;
  -o-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
  z-index: 100; }

.navigation__container {
  position: relative; }

.navigation__logo {
  position: fixed;
  top: 14px;
  left: 20px;
  z-index: 101; }
  .navigation__logo .fa-magnet {
    font-size: 1.6em; }

.navigation__hidden-menu {
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  border-left: 3px solid black;
  width: 300px;
  height: 100%;
  z-index: 100;
  opacity: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }

.navigation__hidden-menu--is-active {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.navigation__list {
  position: absolute;
  color: black;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }
  .navigation__list .list__item {
    margin: 10px 0; }
    .navigation__list .list__item a {
      width: 100%;
      display: block;
      padding: 10px;
      border-top: 2px solid white;
      border-bottom: 2px solid white; }
      .navigation__list .list__item a:hover {
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        color: #444444; }

.navigation__hamburger {
  width: 40px;
  height: 30px;
  border: 0;
  border-top: 4px solid #000;
  background-color: transparent;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  position: fixed;
  top: 17px;
  right: 20px;
  cursor: pointer;
  z-index: 101; }

.navigation__hamburger::after, .navigation__hamburger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 4px solid #000;
  -webkit-transform: translateY(7px);
  -ms-transform: translateY(7px);
  transform: translateY(7px); }

.navigation__hamburger::after {
  -webkit-transform: translateY(18px);
  -ms-transform: translateY(18px);
  transform: translateY(18px);
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }

.navigation__hamburger--is-active {
  -webkit-transform: rotate(45deg) translateY(6px);
  -ms-transform: rotate(45deg) translateY(6px);
  transform: rotate(45deg) translateY(6px);
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  border: none; }

.navigation__hamburger--is-active::after {
  -webkit-transform: rotate(-90deg) translateX(-7px);
  -ms-transform: rotate(-90deg) translateX(-7px);
  transform: rotate(-90deg) translateX(-7px); }

.main-header {
  min-height: 300px; }

.main-header__header {
  font-size: 1.2em;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 150px 15px 0 15px;
  text-align: center;
  line-height: 48px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.5px;
  z-index: -1; }

.portfolio {
  padding: 80px 0; }

.portfolio__container {
  margin: 0 auto; }

.portfolio__project {
  position: relative;
  margin: 15px auto;
  max-width: 460px;
  max-height: 410px; }
  .portfolio__project a {
    display: block; }

.portfolio__overlay {
  position: absolute;
  text-align: center;
  color: #f0f0f0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: rgba(34, 34, 34, 0.8);
  max-width: 460px;
  max-height: 410px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .portfolio__overlay:hover {
    opacity: 1; }

.overlay__header {
  font-size: 1.1em;
  font-weight: 300;
  margin: 5px; }

.overlay__paragraph {
  font-size: 0.6em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 800; }

.portfolio__header {
  font-size: 1.05em;
  font-weight: 300;
  padding: 60px 15px 20px 15px;
  text-align: center; }
  .portfolio__header a {
    color: #4d638c; }

footer {
  padding: 80px 0;
  text-align: center;
  border-top: 1px solid #f0f0f0; }
  footer .fa-magnet {
    font-size: 2em; }

.footer__paragraph {
  padding: 35px 0; }

.footer__email {
  padding: 0;
  margin: 0; }

.footer__phone {
  padding: 0;
  margin: 10px 0; }

.footer__social-media {
  color: #777777;
  font-size: 0.8em; }
  .footer__social-media a {
    margin: 20px 15px 0 15px; }

.project {
  text-align: center;
  padding: 100px 10px; }

.project-header {
  font-weight: 300;
  padding: 0 20px; }

.project-header__header {
  font-size: 2em;
  padding-top: 100px;
  font-weight: 300;
  margin: 0 0 20px 0; }

.project-header__paragraph {
  font-size: 0.8em;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  line-height: 28px; }

.image-container {
  max-width: 460px;
  margin: 0 auto;
  margin-top: 50px; }

.project-image__container {
  max-width: 460px;
  margin: 15px auto; }

.project__container {
  margin: 45px 0; }

.project__header {
  font-size: 1.2em;
  font-weight: 300;
  margin: 25px 0 5px 0;
  letter-spacing: 0.3px; }

.project__paragraph {
  font-size: 0.75em;
  font-weight: 300;
  letter-spacing: 0.3px; }

.project-quote__paragraph {
  max-width: 900px;
  margin: 100px auto 30px auto;
  line-height: 28px; }

.project-author__paragraph {
  font-size: 0.8em;
  color: black; }

.our-studio {
  text-align: center; }
  .our-studio .main-header__header {
    padding-top: 0; }
  .our-studio .project-header__header {
    padding-top: 0; }

.article__title {
  padding-top: 170px;
  margin: 0 0 20px 0;
  text-align: center;
  letter-spacing: 4px;
  font-weight: 400; }

.our-studio__image-container {
  max-width: 680px;
  margin: 70px auto; }

.our-studio__paragraph {
  padding: 30px 0; }

.our-studio__features-container {
  padding: 40px 0 120px 0;
  overflow: auto; }

.our-studio__features {
  color: #777777; }
  .our-studio__features h3 {
    font-size: 1.4em;
    font-weight: 300; }
  .our-studio__features ul {
    width: 250px;
    margin: 0 auto;
    text-align: left;
    padding-left: 70px; }
  .our-studio__features li {
    font-size: 0.8em;
    margin: 10px 0;
    font-weight: 300; }

.blog__header .main-header__header {
  padding-top: 0; }

.blog__header .project-header__header {
  padding-top: 0; }

.blog__post {
  text-align: center;
  padding: 40px 0;
  max-width: 950px;
  margin: 0 auto; }

.blog__image-container {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px 0; }

.blog-post__comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.7em;
  padding: 20px 0; }
  .blog-post__comment img {
    width: 42px;
    border-radius: 100%;
    margin-right: 5px; }
  .blog-post__comment span {
    margin: 0 3px; }

.blog-post__image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.blog-post__button {
  font-size: 0.7em;
  text-align: center;
  display: block;
  width: 200px;
  height: 50px;
  margin: 40px auto;
  border-radius: 100px;
  padding: 14px 20px;
  border: 1px solid black;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all; }
  .blog-post__button:hover {
    background-color: black;
    color: white; }

.post {
  padding: 150px 0 20px 0;
  text-align: center;
  max-width: 950px;
  margin: 0 auto; }
  .post blockquote {
    text-align: left;
    font-size: 0.9em;
    border-left: 3px solid #eee;
    padding: 20px;
    margin: 26px 20px;
    line-height: 26px;
    font-weight: 300; }

.post__header {
  margin: 70px 0 10px 0; }

.post__image-container {
  max-width: 950px;
  margin: 0 auto; }

.post__article-author {
  margin: 42px 0;
  padding: 32px 0;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  overflow: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .post__article-author img {
    border-radius: 100%;
    margin-right: 10px; }

.post__article-comments {
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f0f0; }

.article-author__image {
  width: 190px;
  padding-right: 20px; }

.article-author__message {
  text-align: left; }
  .article-author__message h3 {
    font-size: 0.8em; }

.article-comments__comment {
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: auto;
  margin-bottom: 30px; }
  .article-comments__comment img {
    border-radius: 100%;
    margin-right: 10px; }

.comment__image {
  width: 110px; }

.comment__message {
  margin-left: 20px; }
  .comment__message h3 {
    font-size: 0.9em; }
    .comment__message h3 span {
      font-size: 0.7em; }

.comment-section {
  text-align: center;
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 120px; }
  .comment-section h3 {
    font-size: 1.2em; }
  .comment-section textarea, .comment-section input {
    display: block;
    color: #777777;
    font-size: 0.7em;
    font-weight: 300;
    width: 100%;
    resize: none;
    border: 1px solid #f0f0f0;
    -webkit-transition: border 0.8s;
    -o-transition: border 0.8s;
    transition: border 0.8s;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 15px; }
    .comment-section textarea:hover, .comment-section input:hover {
      border: 1px solid black; }
  .comment-section input {
    height: 40px; }

.form__button {
  font-size: 0.6em;
  margin: 15px auto;
  width: 200px;
  height: 48px;
  border-radius: 24px;
  letter-spacing: 1px;
  color: white;
  background-color: #222;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border: 1px solid black;
  cursor: pointer; }
  .form__button:hover {
    background-color: #000000; }

.contact {
  text-align: center;
  padding-bottom: 120px; }
  .contact .col-6, .contact .col-12 {
    padding: 10px; }
  .contact .main-header__header {
    padding-top: 0; }
  .contact .project-header__header {
    padding-top: 0; }
  .contact form {
    max-width: 950px;
    padding-top: 80px;
    margin: 0 auto;
    overflow: auto; }
    .contact form .contact__input, .contact form select, .contact form textarea {
      width: 100%;
      height: 48px;
      border-radius: 10px;
      border: 1px solid #f0f0f0;
      padding: 15px;
      font-size: 0.7em; }
    .contact form textarea {
      height: auto;
      resize: none; }
