* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0; }

body {
  font-family: 'Work Sans', sans-serif;
  color: #333333; }

.col-12 {
  width: 100%; }

a {
  color: inherit;
  text-decoration: none; }

img {
  max-width: 100%; }

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto; }

.navigation {
  background-color: white;
  height: 60px;
  width: 100%;
  position: fixed;
  -webkit-transition: border-bottom 0.2s;
  -o-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
  z-index: 100; }

.navigation__container {
  position: relative; }

.navigation__logo {
  position: fixed;
  top: 14px;
  left: 20px;
  z-index: 101; }
  .navigation__logo .fa-magnet {
    font-size: 1.6em; }

.navigation__hidden-menu {
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  border-left: 3px solid black;
  width: 300px;
  height: 100%;
  z-index: 100;
  opacity: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }

.navigation__hidden-menu--is-active {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.navigation__list {
  position: absolute;
  color: black;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }
  .navigation__list .list__item {
    margin: 10px 0; }
    .navigation__list .list__item a {
      width: 100%;
      display: block;
      padding: 10px;
      border-top: 2px solid white;
      border-bottom: 2px solid white; }
      .navigation__list .list__item a:hover {
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        color: #444444; }

.navigation__hamburger {
  width: 40px;
  height: 30px;
  border: 0;
  border-top: 4px solid #000;
  background-color: transparent;
  -webkit-transition: 0.3 all;
  -o-transition: 0.3 all;
  transition: 0.3 all;
  position: fixed;
  top: 17px;
  right: 20px;
  cursor: pointer;
  z-index: 101; }

.navigation__hamburger::after, .navigation__hamburger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 4px solid #000;
  -webkit-transform: translateY(7px);
  -ms-transform: translateY(7px);
  transform: translateY(7px); }

.navigation__hamburger::after {
  -webkit-transform: translateY(18px);
  -ms-transform: translateY(18px);
  transform: translateY(18px);
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }

.navigation__hamburger--is-active {
  -webkit-transform: rotate(45deg) translateY(6px);
  -ms-transform: rotate(45deg) translateY(6px);
  transform: rotate(45deg) translateY(6px);
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  border: none; }

.navigation__hamburger--is-active::after {
  -webkit-transform: rotate(-90deg) translateX(-7px);
  -ms-transform: rotate(-90deg) translateX(-7px);
  transform: rotate(-90deg) translateX(-7px); }

.main-header {
  min-height: 700px; }

.main-header__header {
  font-size: 1.6em;
  width: 100%;
  margin: 0;
  padding: 30px 5px 0 5px;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  line-height: 48px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.5px;
  z-index: -1; }

.portfolio {
  padding: 40px 0;
  border-bottom: 1px solid #f0f0f0; }

.portfolio__container {
  margin: 0 auto; }

.portfolio__project {
  position: relative;
  margin: 15px auto;
  max-width: 460px;
  max-height: 410px; }
  .portfolio__project a {
    display: block; }

.portfolio__overlay {
  position: absolute;
  text-align: center;
  color: #f0f0f0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: rgba(34, 34, 34, 0.8);
  max-width: 460px;
  max-height: 410px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .portfolio__overlay:hover {
    opacity: 1; }

.overlay__header {
  font-size: 1.1em;
  font-weight: 300;
  margin: 5px; }

.overlay__paragraph {
  font-size: 0.5em;
  letter-spacing: 1px;
  text-transform: uppercase; }

.portfolio__header {
  font-size: 1.05em;
  font-weight: 300;
  padding: 60px 15px 20px 15px;
  text-align: center; }
  .portfolio__header a {
    color: #4d638c; }

footer {
  padding: 60px 0;
  text-align: center; }
  footer .fa-magnet {
    font-size: 2em; }
